.main{
  width: 100%;
  padding:20px;
  text-align: center;
}


.main .main-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.main table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;

}
.main table tr td{
  border: 1px solid black;
  padding: 5px 0px;
}


.main table .btn-detail{
  padding: 4px 10px;
  cursor: pointer;
  margin-left: 4px;
}

.btn-link-detail{
  padding-right: 10px;
}
