.main{
  width: 100%;
  padding:20px;
  text-align: center;
}


.main .main-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.main .main-sub-title{
  text-align: center;
  font-size: 12px;
}

